body,html {
        font-family:"Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
        color:#ddd;font-family:"Trebuchet MS", Georgia, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

body {
	background: url('../images/deathwing_background.jpg') #000 no-repeat center top;

}


A, a:visited {
        text-decoration: none;
        color: gold;
	
}

a:hover {
	color: #FFD100;
	text-shadow: #FFD100 0 0 10px;
	text-decoration: none;
}

#logo {
	position: absolute;
	top: 20px;
	width: 1066px;
}

#logo img {
	margin: 0 auto;
	display: block;
}

#main_wrapper {
	width: 1066px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 130px;
/*	display: none;*/
}

#main {
	width: 1066px;
        padding: 0px;
	min-height: 300px;
	padding: 0 0 50px 0;
}

#search {
	width: 400px;
	height: 100px;
	background: #000;
	padding: 30px;
}


#border {
	background: url('../images/border.jpg');
}

.blocks {
	display: none;
}

#flag {
	width: 1066px;
	height: 133px;
	position: relative;
}

 #authorization {
	position: absolute; right: 50px; top: 15px;
 }

#page_bottom {
	position: relative;
	margin: -19px 0 0 0;
	width: 1066px;
	height: 50px;
	background-image: url(../images/bottom_end.png) !important;
}

 #credits {
	position: absolute;
	top: 25px;
	right: 25px;
 }

 #status {
	position: absolute;
	top: 25px;
	left: 25px;
	color: gold;
	font-size: 10px;
 }




  #info {
	margin-top: 40px;
	margin-left: 25px;
	float: left;
	width: 100px;
	text-align: center;
  }

    #char_buttons {
	position: absolute;
    }

    #char_race {
	position: relative;
	left: 0px;
	top: 2px;
    }

    #char_class {
        position: relative;
	left: 50px;
	top: -47px;
    }


    #level {
	position: relative;
	font-size: 16px;
	color: gold;
	top: -55px;
	left: 23px;

    }


  #name_wrapper {
	padding-left: 150px;
	padding-top: 40px;
  }

    #char_name2 {
	font-size: 20px;
	color: gold;
	float: left;
    }


  #char_guild_wrapper {
	position: absolute;
	width: 915px;
  }

  #char_guild_name {
	float: left;
  }

  #char_guild_name a {
	color: #ddd;
  }


  #char_guild_rank {
	float: left;
	margin-left: 10px;
  }

  #char_money {
	position: absolute;
	top: 70px;
	right: 30px;
	color: #fff;
  }



  #main_menu {
	margin: 34px 0 0 0;
	padding-left: 150px;
  }

  #main_menu ul {
 	position: absolute;
	top: 98px;
	list-style: none;
	padding: 0;
	margin: 0;
  }

  #main_menu li {
	float: left;
	margin: 0 2px;
	background: url(../images/button_bg.jpg) #34342f bottom left repeat-x;
	height: 20px;
	line-height: 20px;
	float: left;
	display: block;
	color: #ddd;
	text-decoration: none;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 2px solid #6a6a66;
	border-left: 2px solid #6a6a66;
	border-right: 2px solid #6a6a66;
	padding: 0 10px 0 10px;
  } 

  #main_menu li a {
	color: #ddd;
  }

  #main_menu li.selected {
	background-color: #34342f;
	color: #ff8080;
	height: 22px;
	padding-top: 10px;
  }

  .left_pannel_bottom {
	background: url(../images/ac_back_half_bottom.jpg) no-repeat;
	width: 190px;
	height: 30px;
	margin: 0 0 -15px 0;
  }

#quest,#item,#spell,#npc,#achievement,#guild {
	margin: 0px 28px 0 29px;
	background-color: #242424;
	padding: 20px 20px;
}





#character,#char_bags,#char_bank,#char_currency,#char_last_loot,#char_main_spells,#char_reps,#char_quests,#char_pvp,#char_talents_tree,#char_achievements,#char_reputations,#char_mailbox,#char_auctions,#search_result {
        width: 1006px;
	margin-left: 28px;
	background: url(../images/back_tile.gif);
	position: relative;
}

  #inventory {
	width: 536px;
	float: left;
  }

    .char_basic_pane {
        width: 536px;
        min-height: 721px;
        background: url('../images/basic_pane.jpg') no-repeat;
	float: left;

    }

    .char_inventory {
	width: 536px;
	height: 721px;
	float: left;
    }

      #inventory_upper_holder {
	height: 76px;
	position: relative;

      }
       #gearscore {
		font-size: 18px;
		color: #222;
		width: 180px;
		left: 10px;
		top: 10px;
		position: absolute;
       }

       #achievements_count {
		font-size: 18px;
		color: #222;
		width: 250px;
		left: 200px;
		position: absolute;
		top: 10px;
       }

       #achievement_points {
		font-size: 18px;
		color: #222;
		width: 250px;
		left: 200px;
		position: absolute;
		top: 30px;
       }

      #left_inventory {
		margin-left: 21px;
		float: left;
      }

      #right_inventory {
		margin-left: 35px;
		float: left;
      }

      #bottom_inventory {
		float: left;
		margin-top: 14px;
		margin-left: 177px;
      }

    .bags_wrapper {
	padding: 5px;
    }

    .char_aditional {
	float: left;
	left: 0px;
	width: 469px;
	min-height: 721px;
	background: url('../images/aditional.jpg') no-repeat;
	padding-bottom: 20px;
    }

     .char_bags_recap {
       padding: 0;
       margin: 3px;
       list-style: none;
     }


    .aditional_info {
	color: #333;
	font-size: 14px;
    }




    .specializations, .specializations a {
	color: #333;
	margin-top: 10px;
    }



    .specialization_wrapper {
	border-radius: 5px;
	border: 1px solid #bf9f48;
	background: #dec989;
	box-shadow: 0px 0px 5px #999;
	width: 160px;
	padding: 5px;
    }

    .specialization_wrapper .icon_wrapper {
	float: left;
	margin-top: 3px;
	margin-left: 3px;
	width: 32px;
	height: 32px;
    }
    .specialization_wrapper .name_wrapper {
        float: left;
	left: 10px;
	text-align: center;
	width: 108px;
	font-weight: bold;
    }

    .specialization_wrapper .points_wrapper {
        float: left;
	text-align: center;
	width: 108px;
	font-size: 13px;
	color: #666;
	
    }


      #primary_spec {
	float: left;
	width: 200px;
      }

      #secondary_spec {
	float: left;
      }


    .tradeskill_wrapper {
	width: 200px;
	margin-bottom: 10px;
	float: left;
    }
 
     .tradeskill {
	padding: 5px 10px 5px 10px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid #bf9f48;
	background: #dec989;
	box-shadow: 0px 0px 5px #999;
     }

   #recent_activities_wrapper {
	margin-top: 10px;
	width: 370px;
	height: 200px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
        border: 1px solid #bf9f48;
        background: #dec989;
        box-shadow: 0px 0px 5px #999;
   }

    #recent_activities {
	color: #333;
    }

   .additional_info_wrapper {
        margin-left: 50px;
        margin-top: 14px;
   }

    .pvp_teams_wrapper {
        margin: 10px 5px 0 0;
        width: 109px;
        border-radius: 5px;
        border: 1px solid #bf9f48;
        background: #dec989;
        box-shadow: 0px 0px 5px #999;
	padding: 5px;
	float: left;
	text-align: center;
    }

    .pvp_teams_wrapper .team_rating {
	color: #333;
    }

    .pvp_teams_wrapper .team_position {
	color: #333;
    }

    .pvp_teams_wrapper .team_name {
	color: #333;
	font-size: 9px;
    }

    .pvp_info_wrapper {
	background: none repeat scroll 0 0 #DEC989;
	border: 1px solid #BF9F48;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px #999999;
	margin: 10px 5px 0 0;
	padding: 5px 0 0 0;
	text-align: center;
	width: 370px;
    }

     #honor_table {
	width: 100%;
	border-collapse:collapse;
     }

     #honor_table tr.header {
/*
	border-bottom: 1px solid #AF7F08;
*/
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.26, rgb(205,179,100)),
    color-stop(1, rgb(222,201,137))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(205,179,100) 26%,
    rgb(222,201,137) 100%
);

     }

     #honor_table tr th {
	color: black;
	padding: 5px 0 0 0;
     }

     #honor_table tr td {
	color: #333;
	background: #cdb364;
	padding: 0 0 3px 0;
     }



   #main_spells_wrapper {

   }

    #main_spells_categories {
        background: url('../images/ac_back_half.jpg') repeat-y scroll 0 0;
        width: 190px;
        float: left;
        cursor: pointer;
        padding: 30px 0 15px 0;
	height: 100%;
    }

    #main_spells_pane {
        float: left;
    }





   #talents_tree_wrapper {
	padding: 20px 0 20px 20px;
        background: url('../images/talents_back.jpg') no-repeat;
        height: 488px;
   }

   #talents_glyphs_wrapper {
	position: absolute;
	top: 42px;
	left: 770px;
   }

   #talents_glyphs_wrapper > div.glyph_cat {
	color: #000;
	font-weight: bold;
   }

   #talents_glyphs_wrapper ul {
	padding: 0;
	margin: 0 0 10px 30px;
	color: #000;
   }

   #talents_glyphs_wrapper ul li {
	cursor: pointer;
   }



   #talents_bottom_wrapper {
	background: url('../images/talents_back_bottom.jpg') no-repeat;
	width: 1006px;
	height: 30px;
   }


   #talents_spec_wrapper {
	position: absolute;
	left: 810px;
	top: 300px;
   }

   #talents_spec_wrapper > div {
	color: #000;
	float: left;
	padding-right: 20px;
	cursor: pointer;
   }

   #talents_spec_wrapper > div:hover {
	text-decoration: underline;
   }

   #talents_spec_wrapper > div.active {
	font-weight: bold;
	text-decoration: none;
   }


   #quests_wrapper {

   }

    #quests_categories {
	background: url('../images/ac_back_half.jpg') repeat-y scroll 0 0;
	width: 190px;
	float: left;
	cursor: pointer;
	padding: 30px 0 15px 0px;
	color: #000;
    }


    #quests_pane {
	float: left;
        width: 816px;
    }

     #quests_status {
	font-weight: bold;
	text-align: center;
     }

       #quests_table {
          width: 100%;
          background: #DEC989;
          border-collapse:collapse;
          border: 1px solid #666;
          margin: 20px 0 20px 0;
       }

       #quests_table tr th {
          color: black;
          padding: 5px;
          background: #CDB364;
          border-bottom: 2px solid grey;

       }

       #quests_table tr td {
          color: #333;
          padding: 5px;
          border-bottom: 1px solid #666;
       }

       #quests_table tr.completed {
            background: #baff94 !important;
       }


   #achievements_wrapper {

   }

    #achievements_categories {
	background: url('../images/ac_back_half.jpg') repeat-y scroll 0 0;
	width: 190px;
	float: left;
	cursor: pointer;
	padding: 30px 0 15px 0;
	color: #000;
    }

    #achievements_pane {
	float: left;
	width: 816px;
    }


/*
     #achievements_status {
	font-weight: bold;
	text-align: center;
     }

      .progress_back {
	background: url('../images/progress_back.jpg') repeat-x scroll 0 0;
	position: relative;
      }

      .progress_green {
	background: url('../images/progress_green.jpg') repeat-x scroll 0 0;
	position: relative;
      }

      .progress_text {
	position: absolute;
	width: 672px;
	top: 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }

     #achievements_pane ul {
	list-style-type: none;
	width: 673px;
	margin: 0;
	padding: 0;
     }

     #achievements_pane ul li {
	border-top: 1px solid #CC9E4E;
	width: 673;
	padding: 10px;
	cursor: pointer;
	position: relative;
	padding-bottom: 20px;
     }

     #achievements_pane ul li.disabled {
	background: url('../images/achievement_bg_locked.jpg') repeat-y scroll 0 bottom transparent;
     }

     #achievements_pane ul li.enabled {
	background: url('../images/achievement_bg.jpg') repeat-y scroll 0 bottom transparent;
	color: #000;
     }



      .achievement_name {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
      }

      .achievement_points {
		position: absolute;
		background: url('../images/point_shield.png') no-repeat;
		width: 68px;
		height: 61px;
		top: 0px;
		right: 0px;
		padding: 22px 0 0 28px;
		color: #fff;
      }

      .achievement_description {
		text-align: center;
		margin: 0 auto;
		width: 500px;
      }

      .achieved {
		text-align: center;
		margin: 0 auto;
		width: 500px;
      }


      .achievement_reward {
		position: absolute;
		bottom: -2px;
		text-align: center;
		width: 673px;
		margin-top: 20px;
      }

*/


.reputations_expansion {
	width: 719px; background: url('../images/product_box_bg.gif') repeat scroll left top transparent;
	border: 1px solid #B6803D;
	margin: 0 auto 10px auto;
}
 .reputations_expansion_name {
	background: url('../images/product_box_top_left.jpg');
	width: 719px;
	height: 31px;
	font-family: Georgia,Times,serif;
	font-weight: normal !important;
	color: #AB4A30;
	font-size: 22px !important;
 }

  .reputations_sub {
	background: #fae68f;
	padding: 7px;
	margin: 7px;
	border: 1px solid #B6803D;
  }

   .reputation_name {
	color: black;
	width: 182px;
	height: 21px;
	float: left; background: url('../images/rep_box_left.jpg') no-repeat scroll left top transparent;
	padding: 3px 0 0 5px;
   }

   .reputation_middle {
	color: black;
	width: 263px;
	height: 21px;
	float: left;
	background: url('../images/rep_box_middle.jpg') repeat-x scroll left top transparent;
	padding: 3px 0 0 5px;
   }

   .reputation_box {
	background: url('../images/rep-bar0.gif') repeat-x scroll 0 0 transparent;
	border: 1px solid black;
	width: 250px;
	height: 16px;
	text-align: center;
   }

   .reputation_status {
	color: black;
	width: 200px;
	height: 21px;
	float: left;
	background: url('../images/rep_box_middle.jpg') repeat-x scroll left top transparent;
	padding: 3px 0 0 5px;
   }

   .reputation_end {
	color: black;
	width: 29px;
	height: 24px;
	float: left;
	background: url('../images/rep_box_right.jpg') no-repeat scroll left top transparent;
   }


#npc,#achievement,#guild {
	padding:0 !important;
}


#mapper-wrapper > div.zone-list {

}

#mapper-wrapper > div.zone-list > span {
	font-size: 14px;	
}

#mapper-wrapper > div.zone-list > span.active {
	text-decoration: underline;
}


















ul#browsers {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

li.check {
	background-image: url(../images/check.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}

li.cross {
	background-image: url(../images/cross.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}



.l_try {
	float: left;
	left: 0px;
	width: 100px;
}

.r_try {
	float: left;
	left: 110px;
	width: 200px;
}

.clear {
	clear: both;
}








.money {
	white-space: nowrap;
}

div.gold {
        text-align: right;
        float: right;
        right: 40px;
        width: 30px;
}

div.silver {
        text-align: right;
        float: right;
        right: 32px;
        width: 22px;
}

div.copper {
        text-align: right;
        float: right;
        right: 0px;
        width: 20px;
}



#char_stats {
	float: left;
	width: 304px;
	margin-top: 10px;
	margin-left: 30px;
	color: #444;
	font-size: 11px;
}

 fieldset {
	border: 1px solid #6a551e;
 }

 #hp_bar {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(29,101,1)),color-stop(1, rgb(38,130,1)));
	background-image: -moz-linear-gradient(center bottom,rgb(29,101,1) 0%,rgb(38,130,1) 100%);
	color: #fff;
	border: 1px solid #000;
	padding: 3px;
	text-align: center;
	margin-bottom: 3px;
 }

 .mana_bar {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(33,88,154)),color-stop(1, rgb(15,64,124)));
	background-image: -moz-linear-gradient(center bottom,rgb(33,88,154) 0%,rgb(15,64,124) 100%);
	color: #fff;
	border: 1px solid #000;
	padding: 3px;
	text-align: center;
	margin-bottom: 3px;
 }

 .energy_bar {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(163,160,0)),color-stop(1, rgb(137,135,0)));
	background-image: -moz-linear-gradient(center bottom,rgb(163,160,0) 0%,rgb(137,135,0) 100%);
	color: #fff;
	border: 1px solid #000;
	padding: 3px;
	text-align: center;
	margin-bottom: 3px;
 }

 .runic_bar {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(48,161,181)),color-stop(1, rgb(48,141,159)));
	background-image: -moz-linear-gradient(center bottom,rgb(48,161,181) 0%,rgb(48,141,159) 100%);
	color: #fff;
	border: 1px solid #000;
	padding: 3px;
	text-align: center;
	margin-bottom: 3px;
 }

 .rage_bar {
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(163,11,0)),color-stop(1, rgb(137,9,0)));
	background-image: -moz-linear-gradient(center bottom,rgb(163,11,0) 0%,rgb(137,9,0) 100%);
	color: #fff;
	border: 1px solid #000;
	padding: 3px;
	text-align: center;
	margin-bottom: 3px;
 }



.slot {
	width: 64px;
	height: 64px;
	margin-bottom: 3px;
	margin-right: 3px;
}

#slot_15 {
	float: left;
	left: 0px;
}
#slot_16 {
	float: left;
	left: 64px;
}
#slot_17 {
	float: left;
	left: 128px;
}

.quality_0,.quality_0 a,.quality_0 a:visited {
        color: #9d9d9d;
}

.quality_1,.quality_1 a,.quality_1 a:visited {
        color: #ffffff;
}

.quality_2,.quality_2 a,.quality_2 a:visited {
        color: #1eff00;
}

.quality_3,.quality_3 a,.quality_3 a:visited {
        color: #0070dd;
}

.quality_4,.quality_4 a,.quality_4 a:visited {
        color: #a335ee;
}

.quality_5,.quality_5 a,.quality_5 a:visited {
        color: #ff8000;
}

.quality_6,.quality_6 a,.quality_6 a:visited {
        color: #e6cc80;
}

.quality_7,.quality_7 a,.quality_7 a:visited {
        color: #e6cc80;
}



.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(../images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px !important; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}



#item_recap table {
	background: #DEC989;
	border-collapse:collapse;
	margin: 20px;
}

#item_recap tr th {
	color: black;
	padding: 5px;
	background: #CDB364;
	border: 1px solid grey;
}

#item_recap tr td {
	color: #333;
	padding: 5px;
	border: 1px solid grey;
}



table.list {
	width: 100%;
	border-collapse: collapse;
	background-color: #141414;
}

table.list thead tr th {
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	border-bottom: 1px solid #202020;
}

table.list thead tr th div {
	position: relative;
	background-color: #585858;
	border-top: 1px solid #707070;
	border-left: 1px solid #707070;
	border-right: 1px solid #303030;
	border-bottom: 1px solid #303030;
	line-height: 30px;
}

table.list tbody tr td {
	padding: 4px;
	color: #ddd;
	border: 1px solid #404040;
	font-size: 13px;
}

table.list tbody tr td a {
	color: #FFD100;
}

.list-top {
	background-color: #404040;
	color: #ccc;
	min-height: 24px;
	text-align: right;
	padding: 0 10px 0 10px;
	line-height: 20px;

}


ul.info-window {
	margin: 0;
	padding: 0 0 0 15px;
}

ul.info-window li {
	color: red;
}

ul.info-window li div {
        color: #ddd;
}


ul.info-window li div a {
	color: #FFD100;
}

.clickable {
	cursor: pointer;
}